html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
  background-color: black;
}

div {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

img {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: block;
}
